@import '../../../utils/sass/mixins.scss';
@import '../../../utils/sass/vars.scss';

:local(.styles) {
  position: relative;
  padding: 10px 30px;
  cursor: pointer;
  transition: all .4s ease;
  transform: translateZ(0);
  border-bottom: 1px solid #e0e0e0;
  &.active {
    padding-left: 40px;
  }

  .title {
    font-size: 2rem;
    display: block;
    padding-bottom: 5px;
    color: black;
  }

  .keywords {
    font-size: 1.5rem;
    display: block;
    color: #bcbcbc;
  }
}
