@import 'utils/sass/mixins.scss';
@import 'utils/sass/vars.scss';

:local(.styles) {
  position: fixed;
  z-index: 1;
  top: 50px;
  width: 100%;
  background: white;

  input {
    display: block;
    width: calc(100% - 60px);
    margin: 0 auto;
    padding: 10px 0 7px 0;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    outline: none;
    &:focus {
      outline: none;
    }
  }
}
