:local(.styles) {
  position: fixed;
  top: 50px;
  width: 100%;
  background: white;
  z-index: 1;
  input {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    width: calc(100% - 60px);
    margin: 0 auto;
    display: block;
    padding: 10px 0px 7px 0px;
    outline: none;
    &:focus {
      outline: none;
    }
  }
}
