:local(.styles) {
  input {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    width: calc(100% - 60px);
    margin: 0 auto;
    display: block;
    padding: 10px 0px 6px 0px;

    outline: none;
    &:focus {
      outline: none;
    }
  }
}
