@import 'utils/sass/mixins.scss';
@import 'utils/sass/vars.scss';

:local(.styles) {
  font-weight: 300;
  position: fixed;
  z-index: 100;
  top: calc(50% - 40vh + 15px);
  width: 55vw;
  height: 80vh;
  padding: 20px 25px;
  transition: all .3s ease;
  animation: .5s openNote ease-in-out forwards;
  background: white;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);

  font-smoothing: antialiased;
  backface-visibility: hidden;

  &.closeAnimate {
    animation: .5s closeNote ease-in-out forwards;
  }

  @keyframes openNote {
    0% {
      right: -50px;
      opacity: 0;
    }
    100% {
      right: 30px;
      opacity: 1;
    }
  }
  @keyframes closeNote {
    0% {
      right: 0;
      opacity: 1;
    }
    100% {
      right: -50px;
      opacity: 0;
    }
  }

  .close {
    position: absolute;
    right: 25px;
    transition: all .3s ease;
    opacity: .8;
    color: black;
    &:hover {
      opacity: 1;
    }
  }

  .title {
    font-size: 1.8rem;
    display: block;
    padding-bottom: 10px;
    color: black;
    border-bottom: 1px solid rgba(0,0,0,.5);
  }

  .keywords {
    font-size: 1.5rem;
    position: absolute;
    bottom: 45px;
    color: rgba(0,0,0,.8);
  }

  .date {
    font-size: 1.4rem;
    position: absolute;
    bottom: 20px;
    color: rgba(0,0,0,.5);
  }

  .code {
    overflow: auto;
    height: calc(100% - 100px);
    padding: 10px 0;
    white-space: pre;
    word-wrap: normal;
    border: none;
    background: transparent;
    code {
      display: inline-block;
      margin-bottom: 20px;
      padding: 0;
      white-space: pre;
    }
    pre {
      font-size: 1.4rem;
      display: inline-block;
      margin: 0;
      padding: 0;
      border: none;
      background: transparent;
    }
  }

  .buttons {
    position: absolute;
    right: 20px;
    bottom: 33px;
    .icon {
      font-size: 2.5rem;
      display: inline-block;
      margin-left: 10px;
      cursor: pointer;
      transition: all .3s ease;
      vertical-align: middle;
      opacity: .8;
      color: black;
      &.fa-trash-o {
        margin-top: -2px;
      }
      &:hover {
        opacity: 1;
      }
    }
    button {
      margin-left: 10px;
      padding: 0;
      border: none;
      background: none;
    }
  }

  .form {
    .field {
      width: 100%;
      &.title, &.keywords, &.date {
        padding-right: 35px;
        border: none;
        input {
          width: 100%;
          padding-bottom: 6px;
          border: none;
          border-bottom: 1px solid rgba(0, 0, 0, .2);
          outline: none;
          &:focus {
            outline: none;
          }
        }
      }
      &.title {
        margin-top: -1px;
        padding-right: 0;
        input {
          padding-bottom: 10px;
        }
      }
      &.keywords {
        width: calc(100% - 140px);
        margin-bottom: 10px;
      }
      &.date {
        width: 130px;
      }
      &.text textarea {
        display: block;
        width: 100%;
        height: 60vh;
        max-height: calc(100% - 130px);
        margin-top: 5px;
        padding: 5px;
        white-space: pre;
        word-wrap: normal;
        &:focus {
          outline: none;
        }
      }
    }
  }
}
