/* global styles */

@import 'mixins.scss';
@import 'vars.scss';

@import 'fonts/roboto';
@import 'fonts/font-awesome';
@import 'typography';

body {
  font-family: 'Roboto';
  font-size: 16px;
  position: relative;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  padding: 0 30px;
}

.icon {
  display: inline-block;
  margin-right: 6px;
}

.buttons {
  transform: translateZ(0);
}

.coffeescript .javascript, .javascript .xml, .tex .hljs-formula, .xml .javascript, .xml .vbscript, .xml .css, .xml .hljs-cdata {
  opacity: 1;
}
